<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/TizenTalks" version="1.0.0" viewmodes="maximized">
    <tizen:application id="BKuIaEh5OE.TizenTalks" package="BKuIaEh5OE" required_version="2.3.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="icon.png"/>
    <name>TizenTalks</name>
    <tizen:profile name="wearable"/>
    <tizen:setting hwkey-event="enable"/>
    <access origin="*" subdomains="true"></access>
	<tizen:privilege name="http://tizen.org/privilege/internet"/>
    
</widget>
